    {% include 'partials/_header.html' %}
    {% include 'partials/_navbar.html' %}
    <br> <hr> <br>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3>Digite os números e selecione a operação</h3>
            </div>
        <div class="card-body">
            <form method="POST" id="form" action="/decider">
                <label>Número 1: </label>
                <input class="form-control" name="number1" type="text" placeholder="Digite aqui">
                <br>
                <label>Número 2: </label>
                <input class="form-control" name="number2" type="text" placeholder="Digite aqui">
                <br>
                <select class="form-select" name="operation" id="language">
                    <option value="add">Adição</option>
                    <option value="subtract">Subtração</option>
                    <option value="multiply">Multiplicação</option>
                    <option value="divide">Divisão</option>
                  </select>
                  <br>
                <button type="submit" class="btn btn-secondary">Calcular</button>
            </form>     
        </div>
        </div>
    </div>
    {% include 'partials/_footer.html' %}